<html>
  <head>
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <header>
    <img
      src="Australia-Post-Logo.png"
      alt="Australia-Post-Logo"
      width="100px"
    />
  </header>
  <body>
    <h1 class="text-danger">Home</h1>
    <div class="home-links">
      <a class="btn btn-danger" href="/newparcel">Add a New Parcel</a>
      <a class="btn btn-danger" href="/listparceloption">List Parcels</a>
      <a class="btn btn-danger" href="/deleteparcel">Delete a Parcel</a>
      <a class="btn btn-danger" href="/deleteparcelweightfragile"
        >Delete a Parcel by Weight and Fragile</a
      >
      <a class="btn btn-danger" href="/updateparcel">Update a Parcel</a>
    </div>
  </body>
</html>
