<html>
  <head>
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <header>
    <a href="/"
      ><img
        src="Australia-Post-Logo.png"
        alt="Australia-Post-Logo"
        width="100px"
    /></a>
    <a href="/newparcel">Add a New Parcel</a>
    <a href="/listparceloption">List Parcels</a>
    <a href="/deleteparcel">Delete a Parcel</a>
    <a href="/updateparcel">Update a Parcel</a>
  </header>
  <body>
    <h1 class="text-danger">List Parcels</h1>
    <div class="listparcel-links">
      <a class="btn btn-danger" href="/listparcelsall">List All Parcel</a>
      <a class="btn btn-danger" href="/listparcelssender"
        >List Parcels by Sender</a
      >
      <a class="btn btn-danger" href="/listparcelsweight"
        >List Parcels by Weight</a
      >
    </div>
  </body>
</html>
