<html>
  <head>
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <header>
    <a href="/"
      ><img
        src="Australia-Post-Logo.png"
        alt="Australia-Post-Logo"
        width="100px"
    /></a>
    <a href="/newparcel">Add a New Parcel</a>
    <a href="/listparceloption">List Parcels</a>
    <a href="/deleteparcel">Delete a Parcel</a>
    <a href="/updateparcel">Update a Parcel</a>
  </header>
  <body>
    <h1 class="text-danger">List Parcels by Weight</h1>
    <form method="post" action="/listparcelsweight">
      <table>
        <tr>
          <td>From</td>
          <td><input type="number" name="weightStart" /></td>
        </tr>
        <tr>
          <td>To</td>
          <td><input type="number" name="weightEnd" /></td>
        </tr>
      </table>
      <button class="submit-btn" type="submit">List</button>
    </form>
  </body>
</html>
