<html>
  <head>
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <header>
    <a href="/"
      ><img
        src="Australia-Post-Logo.png"
        alt="Australia-Post-Logo"
        width="100px"
    /></a>
    <a href="/newparcel">Add a New Parcel</a>
    <a href="/listparceloption">List Parcels</a>
    <a href="/deleteparcel">Delete a Parcel</a>
    <a href="/updateparcel">Update a Parcel</a>
  </header>
  <body>
    <h1 class="text-danger">Update a Parcel</h1>
    <form method="post" action="/updateparcel">
      <table>
        <tr>
          <td>ID</td>
          <td><input type="text" name="id" class="form-control" /></td>
        </tr>
        <tr>
          <td>Sender</td>
          <td><input type="text" name="sender" class="form-control" /></td>
        </tr>
        <tr>
          <td>Address</td>
          <td><input type="text" name="address" class="form-control" /></td>
        </tr>
        <tr>
          <td>Weight</td>
          <td><input type="number" name="weight" class="form-control" /></td>
        </tr>
        <tr>
          <td>Fragile</td>
          <td>
            <input type="checkbox" name="fragile" class="form-check-input" />
          </td>
        </tr>
        <tr>
          <td>Shipment</td>
          <td>
            <input
              type="radio"
              name="shipment"
              id="standard"
              value="Standard"
              class="form-check-input"
            />
            <label for="standard" class="form-check-label">Standard</label>
            <input
              type="radio"
              name="shipment"
              id="express"
              value="Express"
              class="form-check-input"
            />
            <label for="express" class="form-check-label">Express</label>
          </td>
        </tr>
      </table>
      <button class="btn btn-danger submit-btn" type="submit">Submit</button>
    </form>
  </body>
</html>
